/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #0d0d0d;
    color: #00ff9c;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.people-container {
    background-color: #1b1b2f;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0px 0px 20px #00ff9c;
    width: 600px;
    text-align: center;
}

h1 {
    color: #00ff9c;
    text-shadow: 0px 0px 10px #00ff9c;
    margin-bottom: 30px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
}

table,
th,
td {
    border: 1px solid #00ff9c;
}

th,
td {
    padding: 15px;
    text-align: center;
    color: #c4c4c4;
    text-shadow: 0px 0px 5px #00ff9c;
}

th {
    background-color: #0d0d2a;
}

td {
    background-color: #1b1b2f;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    background-color: #0d0d2a;
    color: #00ff9c;
    font-size: 16px;
}

button {
    background-color: #00FF9C;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
}

button:hover {
    background-color: rgb(10, 213, 33);
    box-shadow: 0 0 20px #BF00FF;
}

.pagination a {
    margin: 0 5px;
    text-decoration: none;
    color: #8F00FF;
}

.pagination a.active {
    font-weight: bold;
    color: white;
}

.pagination a:hover {
    text-decoration: underline;
}

.back-link {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #00ff9c;
    color: #0d0d0d;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s, box-shadow 0.3s;
}

/* Align forms and buttons in a single row */
.action-buttons {
    display: flex;
    gap: 10px;
    /* Space between buttons */
    align-items: center;
    /* Vertically align buttons */
}