@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap');

.login-container {
    background-color: #2B2B4D;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 20px #8F00FF;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.login-container h1 {
    font-size: 32px;
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    color: #00FF9C;
    margin-bottom: 20px;
    text-shadow: 0 0 8px #00FF9C, 0 0 15px #00FF9C;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #1F1F2E;
    border-radius: 5px;
    background-color: #1F1F2E;
    color: #FFFFFF;
}

.login-container button {
    background-color: #8F00FF;
    border: none;
    color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 0 10px #8F00FF;
}

.login-container button:hover {
    background-color: #BF00FF;
    box-shadow: 0 0 20px #BF00FF;
}

.login-container .signup-link {
    margin-top: 15px;
    color: #00FF9C;
    text-decoration: none;
    font-size: 14px;
}

.login-container .signup-link:hover {
    text-decoration: underline;
}